---
import type { ImageMetadata } from 'astro';
import { getImage } from 'astro:assets';

interface Props {
	src: ImageMetadata;
	alt: string;
	lazy?: boolean;
}

const { alt, lazy, src } = Astro.props;

const is_gif = src.format === 'gif';

// AVIFs screw up gifs
const avif = is_gif
	? null
	: await getImage({
			src,
			format: 'avif',
			widths: [1800, 1200, 600],
		});

const webp = await getImage({
	src,
	format: 'webp',
	widths: [1800, 1200, 600],
});

const { loading: _, decoding, ...attrs } = webp.attributes;
---

<div class="lazy-image-container">
	<figure
		class:list={{
			gif: is_gif,
		}}
		style={`--aspect: ${src.width}/${src.height}`}
	>
		<picture>
			{avif && <source type="image/avif" data-srcset={avif.srcSet.attribute} />}

			<source type="image/webp" data-srcset={webp.srcSet.attribute} />
			<img
				class="lazyload"
				data-src={!lazy ? null : webp.src}
				src={lazy ? null : webp.src}
				alt={alt}
				decoding={!lazy ? 'sync' : 'async'}
				{...attrs}
			/>

			<div class="overlay"></div>
		</picture>
	</figure>
</div>

<script>
	import 'lazysizes';
</script>

<style>
	.lazy-image-container {
		display: flex;
		justify-content: center;

		width: 100%;
	}
	figure {
		position: relative;

		display: flex;
		justify-content: center;

		margin: 0;
		padding: 0;
		aspect-ratio: var(--aspect);

		border-radius: 0.5rem;

		width: 100%;
		height: max-content;

		max-width: 100%;
		min-width: 0;

		&.gif {
			width: unset;
		}

		&.loaded::after {
			opacity: 0;
		}
	}

	picture {
		border-radius: inherit;
		display: contents;

		.overlay {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--app-color-primary);
			border-radius: inherit;
			opacity: 1;
			transition: opacity 200ms ease-in;

			z-index: 200;
		}

		&.no_overlay .overlay {
			opacity: 0;
		}
	}

	img {
		display: block;
		width: 100%;
		height: 100%;

		position: relative;

		aspect-ratio: var(--aspect);

		height: auto;
		opacity: 1;
		border-radius: inherit;

		&.lazyloaded + .overlay {
			opacity: 0;
		}

		&.gif {
			width: auto;
			max-width: 100%;
			min-width: 20rem;
		}
	}
</style>
