---
import { mdiChevronRight } from '@mdi/js';
import { type get_list } from '@utils/blog';
import { SERIES } from 'src/content/series';
import Icon from './Icon.svelte';

type Props = {
	blogs_list: Awaited<ReturnType<typeof get_list>>;
	see_more?: boolean;
};

const { blogs_list, see_more = false } = Astro.props;
---

{
	blogs_list.map(({ date, description, slug, title, series, series_name }) => (
		<>
			<a class="blog-link" href={`../blog/${slug}`} aria-label={title}>
				<span class="series">
					{series_name && series.length > 1 && (
						<>
							<mark>SERIES</mark>&nbsp;{SERIES[series_name]}
						</>
					)}
				</span>
				<h2 class="title">{title}</h2>
				<p class="description">{description}</p>
				<p class="more-info">
					<span />

					<time>{date}</time>
				</p>
			</a>
		</>
	))
}

{
	see_more && (
		<>
			<br />
			<a aria-label="See More Blog Posts" class="blog-link show-more" rel="prefetch" href="./blog">
				<p aria-hidden="true" class="title end">
					See more <Icon size={40} path={mdiChevronRight} />
				</p>
			</a>
		</>
	)
}

<style scoped>
	.title {
		color: var(--app-color-primary);
		fill: var(--app-color-primary);

		:global(.emoji) {
			margin: 0 0.5rem;

			vertical-align: middle;

			display: inline;

			height: 1.2em;
			width: 1.2em;
		}
	}

	.show-more .title {
		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 1.618rem;
	}

	.description {
		color: var(--app-color-dark);
		font-family: 'JetBrains Mono Variable', monospace;
	}

	p {
		margin: 0;
	}

	p.more-info {
		display: flex;
		justify-content: space-between;

		color: var(--app-color-primary);
		font-family: 'JetBrains Mono Variable', monospace;
		margin-top: 0.3rem;
		font-weight: 500;

		.published-tagline {
			--color: rgba(var(--app-color-dark-rgb), 0.6);

			color: var(--color);
			fill: var(--color);

			display: flex;
			align-items: center;
			gap: 0.3rem;
		}
	}

	.blog-link {
		--bgc-opacity: 0;
		background-color: rgba(var(--app-color-primary-rgb), var(--bgc-opacity));

		display: block;

		transition:
			background-color var(--transition-duration) ease-out,
			box-shadow var(--transition-duration) ease-out;

		border-radius: 1rem;
		padding: 1rem 0.5rem;

		&.show-more {
			--bgc-opacity: 0.15;

			backdrop-filter: blur(0.5rem);

			&:hover,
			&:focus-visible {
				--bgc-opacity: 0.3;
			}
		}

		&:hover,
		&:focus-visible {
			--bgc-opacity: 0.1;
		}

		&:focus-visible {
			box-shadow: 0 0 0 0.25rem rgba(var(--app-color-primary-rgb), 0.75);
		}
	}

	h2 {
		line-height: 1.618;
	}

	.series {
		color: rgba(var(--app-color-dark-rgb), 0.6);

		letter-spacing: 1px;
		font-family: 'JetBrains Mono Variable', monospace;

		mark {
			font-family: 'JetBrains Mono Variable', sans-serif;
		}
	}

	@media screen and (max-width: 400px) {
		p.more-info {
			flex-direction: column-reverse;
			align-items: flex-end;
		}
	}
</style>
