---
import '@css/global.css';
import '@fontsource-variable/comfortaa';
import '@fontsource-variable/jetbrains-mono';
import '@fontsource/atkinson-hyperlegible';

// Font preloads
import comfortaa_url from '@fontsource-variable/comfortaa/files/comfortaa-latin-wght-normal.woff2';
import jetbrains_mono_url from '@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2';
import atkinson_hyperlegible_url from '@fontsource/atkinson-hyperlegible/files/atkinson-hyperlegible-latin-ext-400-normal.woff2';

import Footer from '@components/Footer.astro';
import Nav from '@components/Nav.astro';
import { ViewTransitions } from 'astro:transitions';

type Props = {
	title: string;
	background?: boolean;
};

const { title, background = true } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		{
			title ? (
				<>
					<title>{title}</title>
					<meta name="title" content={title} />
				</>
			) : (
				<slot name="head" />
			)
		}

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />

		<link rel="preload" as="font" href={comfortaa_url} type="font/woff2" crossorigin="anonymous" />

		<link
			rel="preload"
			as="font"
			href={jetbrains_mono_url}
			type="font/woff2"
			crossorigin="anonymous"
		/>

		<link
			rel="preload"
			as="font"
			href={atkinson_hyperlegible_url}
			type="font/woff2"
			crossorigin="anonymous"
		/>
	</head>
	<body transition:persist class:list={{ background }}>
		<div id="root">
			<Nav />
			<main style="margin-top: 3.75rem">
				<slot />
			</main>

			<Footer />
		</div>

		<script is:inline data-astro-rerun>
			function swap_theme() {
				const browserPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
				const localStorageTheme = localStorage.getItem('theme');
				document.body?.classList?.add(localStorageTheme ?? (browserPrefersDark ? 'dark' : 'light'));
			}
			swap_theme();

			document.addEventListener('astro:after-swap', swap_theme);
		</script>
	</body>
</html>
